@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
/* TODO:
    - Colocar o footer preso no final da pagina (aula positions)
*/
:root {
    --main-font: "Sour Gummy", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    background-color: #ab1010;
    color: #fff;
    font-family: var(--main-font);
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1.5rem;
}

.title {
    text-align: center;
}

#subtitle {
    margin-bottom: 2rem;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.input-name {
    border: none;
    border-radius: 20px;
    padding: .5rem 1rem;
    text-align: center;
    font-family: var(--main-font);
    font-size: 1rem;
}

.input-name:focus {
    outline: none;
    box-shadow: 0px 0px 20px #770000;
}

button {
    border: none;
    border-radius: 20px;
    padding: .5rem 1rem;
    font-family: var(--main-font);
    font-size: 1rem;
    color: #fff;
    background-color: #ffffff26;
    box-shadow: 0px 0px 15px #580000;
    cursor: pointer;
}

button:hover {
    background-color: #770000;
    color: #fff;
    transition: 100ms;
}

#addName {
    background: #ab1010;
    border: 1px solid #fff;
    box-shadow: none;
}

#calculate {
    margin-top: 1.2rem;
}

#name3 {
    margin-right: .5rem;
}

.addNameForm {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.result-container {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.result {
    font-size: 3rem;
    font-weight: 700;
}

.result-container-text {
    text-align: center;
    margin: 0 1.5rem;
}

.result-name-lover {
    word-break: break-word;
}

.capitalize {
    text-transform: capitalize;
}

footer a {
    color: #fff;
    text-underline-offset: .3rem;
    transition: 300ms;
}

footer a:hover {
    text-underline-offset: .5rem;
    transition: 300ms;
}

footer {
    margin: 1rem 0;
    position: fixed;
    bottom: 0;
}

@media (max-width: 520px) {
    #loverName {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
    }
}